h1 {
  font-size: 34px;
  border-bottom-width: 2px;
  border-bottom-color: lightgrey;
  border-bottom-style: solid;
  margin-bottom: 40px;
  color: #3b3b3b;
}

p {
  font-size: 20px;
  color: #3b3b3b;
}
