{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" href="about.css">
<style>
    h1 {
        font-size: 34px;
        border-bottom-width: 2px;
        border-bottom-color: lightgrey;
        border-bottom-style: solid;
        margin-bottom: 40px;
        color: #3b3b3b;
    }

    p {
        font-size: 20px;
        color: #3b3b3b;
    }
</style>
<h1>オンライン欠課届とは</h1>
<p>オンライン欠課届とは欠課届をオンラインで提出できるサービスです．これさえあればもう欠課届を教務係と科目担当の先生に提出する必要がありません！</p>
<p>さらに，オンライン欠課届を利用すれば欠席日数が一目でわかります．これでもう欠席不可におびえることなく安心して欠席できます！
</p>
{% endblock %}