.header{
    width: 100%;
    height: 80px;
    position: fixed;

    div{
        width: 100%;
        height: 80px;
        padding: 0px;
        margin:0px;
        background-color: rgba(0,0,0,0.8);
        ul{
            list-style: none;
            float: right;
            margin: 0px 5%;
            li{
                height:80px;
                width: 120px;
                margin: 0px;
                text-align: center;
                display: inline-block;
                a{
                    height: 80px;
                    width: 120px;
                    line-height: 80px;
                    text-decoration: none;
                    display: block;
                    margin: 0px;
                    color:#f5f5f5;
                    font-size: 20px;
                    &:hover{
                        background-color: dimgray;
                    }
                }
            }
        }
    }
}

.wrapper{
    padding-top: 150px;
    height: 1200px;
    width: 100%;
    background-color: rgb(250, 250, 247);
    .container{
        width:80%;
        height:100%;
        margin: auto;
        text-align: center;
    }
}