<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="test.css">
</head>

<body>
    <div class="main">
        <!-- タイトルを表示するHTMLを追加してください -->
        <h1>Sassとは</h1>

        <!-- 説明文を表示するHTMLを追加してください -->
        <p>「Sass（サス）」はCSSをより便利かつ効率的に書くことができる言語です。</p>

    </div>
    <div class="wrapper">
        <h2>ドーナッツ</h2>
        <div class="container">
            <img src="./DpdkVa6UUAAHmQ1.png large.png" alt="">
        </div>
        <p>ドーナツ美味しそう</p>
        <p>尾藤の作品だよ</p>
        <div class="list">
            <ul>
                <li><a href="">リスト</a></li>
                <li><a href="">を</a></li>
                <li><a href="">作ろう</a></li>
            </ul>
        </div>
    </div>
</body>

</html>